<div class="col s12">
  <div class="row">

    <div class="col s12 m6 l3">
      <div class="card medium z-depth-1">
        <div class="card-content">
          <h5 class="teal-text text-darken-3"><i class="material-icons">attach_money</i>Caixa</h5>
          <div class="collection">
            <a href class="collection-item"><i class="material-icons">timeline</i>Sintético</a>
            <a href class="collection-item"><i class="material-icons">shuffle</i>Operações</a>
            <a href class="collection-item"><i class="material-icons">remove_circle_outline</i>Sangria</a>
            <a href class="collection-item"><i class="material-icons">add_circle_outline</i>Suprimento</a>
            <a href class="collection-item"><i class="material-icons">local_atm</i>Despesas</a>
            <a href class="collection-item"><i class="material-icons">done</i>Fechamento</a>
          </div>
        </div>
      </div>
    </div>

    <div class="col s12 m6 l3">
      <div class="card medium z-depth-1">
        <div class="card-content">
          <h5 class="teal-text text-darken-3"><i class="material-icons">person</i>Cliente</h5>
          <div class="collection">
            <a href="/cliente" class="collection-item"><i class="material-icons">people</i>Ver Clientes</a>
            <a href class="collection-item"><i class="material-icons">local_grocery_store</i>Vendas</a>
            <a href class="collection-item"><i class="material-icons">event</i>Títulos de Clientes</a>
            <a href class="collection-item"><i class="material-icons">monetization_on</i>Recebimentos</a>
            <a href class="collection-item"><i class="material-icons">assessment</i>Análise de Vendas</a>
            <a href class="collection-item"><i class="material-icons">money_off</i>Devedores</a>
          </div>
        </div>
      </div>
    </div>

    <div class="col s12 m6 l3">
      <div class="card medium z-depth-1">
        <div class="card-content">
          <h5 class="teal-text text-darken-3"><i class="material-icons">domain</i>Fornecedor</h5>
          <div class="collection">
            <a href class="collection-item"><i class="material-icons">work</i>Ver Fornecedores</a>
            <a href class="collection-item"><i class="material-icons">shopping_basket</i>Compras</a>
            <a href class="collection-item"><i class="material-icons">event</i>Títulos de Fornecedores</a>
            <a href class="collection-item"><i class="material-icons">local_shipping</i>Pedidos</a>
            <a href class="collection-item"><i class="material-icons">assessment</i>Análise de Fornecedores</a>
            <a href class="collection-item"><i class="material-icons">payment</i>Pagamentos</a>
          </div>
        </div>
      </div>
    </div>

    <div class="col s12 m6 l3">
      <div class="card medium z-depth-1">
        <div class="card-content">
          <h5 class="teal-text text-darken-3">
            <i class="material-icons">local_grocery_store</i>Produto</h5>
          <div class="collection">
            <a href="/produto" class="collection-item"><i class="material-icons">touch_app</i>Ver Produtos</a>
            <a href class="collection-item"><i class="material-icons">exposure_plus_1</i>Contagem</a>
            <a href class="collection-item"><i class="material-icons">assessment</i>Análise de Produtos</a>
            <a href class="collection-item"><i class="material-icons">directions</i>Sugestão de Compra</a>
            <a href class="collection-item"><i class="material-icons">filter_9_plus</i>Estoque em Excesso</a>
            <a href class="collection-item"><i class="material-icons">trending_down</i>Produtos Obsoletos</a>
          </div>
        </div>
      </div>
    </div>

    <div class="col s12 m6 l3">
      <div class="card medium z-depth-1">
        <div class="card-content">
          <h5 class="teal-text text-darken-3"><i class="material-icons">settings</i>Configurações</h5>
          <div class="collection">
            <a href class="collection-item"><i class="material-icons">store</i>Loja</a>
            <a href class="collection-item"><i class="material-icons">desktop_mac</i>Caixas</a>
            <a href class="collection-item"><i class="material-icons">supervisor_account</i>Usuários</a>
            <a href class="collection-item"><i class="material-icons">recent_actors</i>Vendedores</a>
            <a href class="collection-item"><i class="material-icons">account_circle</i>Alterar Senha</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
