<div class="col s12">
  <div class="row">

    <div class="col s12 m6 l3">
      <div class="card small z-depth-4">
        <div class="card-content">
          <h5 class="">Produto</h5>
        </div>
      </div>
    </div>

    <div class="col s12 m6 l3">
      <div class="card small z-depth-4">
        <div class="card-content">
          <h5 class="">Cliente</h5>
        </div>
      </div>
    </div>

    <div class="col s12 m6 l3">
      <div class="card small z-depth-4">
        <div class="card-content">
          <h5 class="">Fornecedor</h5>
          <p><a href>Cadastrar</a></p>
          <a href>Atrasados</a>
        </div>
      </div>
    </div>

    <div class="col s12 m6 l3">
      <div class="card small z-depth-4">
        <div class="card-content">
          <h5 class="">Compras</h5>
        </div>
      </div>
    </div>

    <div class="col s12 m6 l3">
      <div class="card small z-depth-4">
        <div class="card-content">
          <h5 class="">Caixa</h5>
        </div>
      </div>
    </div>

    <div class="col s12 m6 l3">
      <div class="card small z-depth-4">
        <div class="card-content">
          <h5 class="">Gráficos</h5>
        </div>
      </div>
    </div>
  </div>
</div>
