<nav>
  <div class="nav-wrapper #e53935 red darken-1">
    <a href="#" class="brand-logo right black-text"><i class="material-icons black-text">shopping_cart</i>{{title}}</a>
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>

    <ul id="nav-mobile" class="rigth hide-on-med-and-down">
      <li routerLinkActive="active"><a routerLink="/paciente">Venda</a></li>
      <li routerLinkActive="active"><a routerLink="/atividade">Produtos</a></li>
      <li routerLinkActive="active"><a routerLink="/cliente">Clientes</a></li>
      <li routerLinkActive="active"><a routerLink="/login">Fornecedores</a></li>
      <li routerLinkActive="active"><a routerLink="/login">Despesas</a></li>
      <li routerLinkActive="active"><a routerLink="/login">Caixa</a></li>
      <li routerLinkActive="active"><a routerLink="/login">Gráficos</a></li>
      <li routerLinkActive="active"><a routerLink="/login">Conta</a></li>
      <li routerLinkActive="active"><a routerLink="/login">Sair</a></li>
    </ul>
    <ul class="side-nav" id="mobile-demo">
      <li routerLinkActive="active"><a routerLink="/paciente">Venda</a></li>
      <li routerLinkActive="active"><a routerLink="/atividade">Produtos</a></li>
      <li routerLinkActive="active"><a routerLink="/cliente">Clientes</a></li>
      <li routerLinkActive="active"><a routerLink="/login">Fornecedores</a></li>
      <li routerLinkActive="active"><a routerLink="/login">Despesas</a></li>
      <li routerLinkActive="active"><a routerLink="/login">Caixa</a></li>
      <li routerLinkActive="active"><a routerLink="/login">Gráficos</a></li>
      <li routerLinkActive="active"><a routerLink="/login">Conta</a></li>
      <li routerLinkActive="active"><a routerLink="/login">Sair</a></li>
      </ul>
  </div>
</nav>

<div class="row">
  <router-outlet></router-outlet>
</div>
